.button3{
    text-align: center;
    font-size: 10;
    transition-duration: 0.3;
    background-color: #4a10d1;
    padding: 10px 15px;
    width: 60%;
      min-width: 200px;
      max-width: 600px;
    font-family: fantasy;
  }
  .button3:hover{
    background-color: #8495e6;
    
  }
  
  body{
    cursor: url("img/cursor.png"), auto;
    background-color: black;
    
    text-align:center;
    font-family: fantasy;
  
  }
  .password{
    background-color: black;
    
    
  }
  h1{
    color:#ffffff;
    text-align: center;
    line-height: 260px;
    background-color: black;
    background-image: url("https://t1.gstatic.com/images?q=tbn:ANd9GcRfT4KQX6_fSTaH4kn3150-k7ROOINaDICbnfbVeJ9gA1pkgagw");
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  
  .p1{
    color: white;
    font-size: 20px;
    
  }
  div{
    background-color: black;
    
  }
  
  .button{
    transition-duration: 0.4s;
    border-color: #4c4c94;
    font-size: 24px;
    padding: 14px 28px;
    background-color: #3109fb;
    color: black;
    font-family: fantasy;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  
  .button:hover {
    background-color: #f7f3f3;
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  
  }
  
  .devlog {
    color: red;
    
  }
  
  .button2{
    transition-duration: 0.4s;
    border-color: blue ;
    position: absolute;
    font-size: 30px;
    font-family: fantasy;
    padding: 14px 28px;
    top: 10px;
    left: 10px;
    background-color: white;
  }
  .button2:hover{
    background-color: green;
  }
  
  .button3{
    text-align: center;
    font-size: 10;
    transition-duration: 0.3;
    background-color: gray;
    padding: 10px 15px;
    width: 60%;
    font-family: fantasy;
      min-width: 200px;
      max-width: 600px;
  }
  .button3:hover{
    background-color: #e3e3e3;
    
  }