.button3{
    text-align: center;
    font-size: 10;
    transition-duration: 0.3;
    background-color: #4c0c67;
    padding: 10px 15px;
    width: 60%;
    min-width: 200px;
    max-width: 600px;
    font-family: cursive;
    border-radius: 8px;
  }
  .button3:hover{
    background-color: #eaadfa;
    border-radius: 8px;
    
  }
  
  body{
    cursor: url("img/cursor.png"), auto;
    background-color: black;
    
    text-align:center;
    font-family: cursive;
  
  }
  .password{
    background-color: black;
    
    
  }
  h1{
    color:#ffffff;
    text-align: center;
    line-height: 260px;
    background-color: black;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
  }
  
  
  .p1{
    color: rgb(255, 255, 255);
    font-size: 20px;
    
  }
  div{
    background-color: black;
    
  }
  
  .button{
    transition-duration: 0.4s;
    border-color: #4c4c94;
    font-size: 24px;
    padding: 14px 28px;
    background-color: #21126c;
    color: rgb(255, 255, 255);
    font-family: cursive;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 8px;
  }
  
  .button:hover {
    background-color: #686868;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border-radius: 8px;
  
  }
  
  .devlog {
    color: red;
    
  }
  
  .button2{
    transition-duration: 0.4s;
    border-color: rgb(29, 29, 99) ;
    position: absolute;
    font-size: 30px;
    font-family: fantasy;
    padding: 14px 28px;
    top: 10px;
    left: 10px;
    color: white;
    background-color: rgb(16, 105, 102);
    border-radius: 8px;
  }
  .button2:hover{
    background-color: rgba(16, 135, 16, 0.475);
    border-radius: 8px;
  }
  
  .button3{
    text-align: center;
    font-size: 10;
    transition-duration: 0.3;
    background-color: gray;
    padding: 10px 15px;
    width: 60%;
    font-family: cursive;
    min-width: 200px;
    max-width: 600px;
    color: white;
    border-radius: 8px;
  }

  .button3:hover{
    background-color: #e3e3e3;
    border-radius: 8px;
    
  }